.input_field_title:focus{
    box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
    
    outline: none;
   
   } 
   .input_field_title{
    box-shadow: inset 0px -3px 0px 0px rgba(114, 113, 113, 0.2);
    transition: box-shadow 0.2s ease-in;
    background-color: lightblue;
    border:none;
   }

   .title_add{
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
    border-radius: 70px;
    padding: 3px;
    background-color: rgb(233, 221, 205);
    border-color:rgb(109, 10, 10);
    color: rgb(68, 67, 67);
   }

   